### Importing Libraries

In [1]:
import numpy as np
import pandas as pd

### Filtering the Warnings

In [2]:
import warnings
warnings.filterwarnings('ignore')

### Reading the Dataset

In [3]:
df = pd.read_csv("ecommerce1.csv")
df.head()

,Unnamed: 0,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2020-12-01 08:26:00,2.55,17850.0,United Kingdom
1,1,536365,71053,WHITE METAL LANTERN,6,2020-12-01 08:26:00,3.39,17850.0,United Kingdom
2,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2020-12-01 08:26:00,2.75,17850.0,United Kingdom
3,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2020-12-01 08:26:00,3.39,17850.0,United Kingdom
4,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2020-12-01 08:26:00,3.39,17850.0,United Kingdom

In [4]:
df.drop(columns=['Unnamed: 0'],inplace=True)

### Checking the Length and other Parameters

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
InvoiceNo      541909 non-null object
StockCode      541909 non-null object
Description    540455 non-null object
Quantity       541909 non-null int64
InvoiceDate    541909 non-null object
UnitPrice      541909 non-null float64
CustomerID     406829 non-null float64
Country        541909 non-null object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

### Evaluating the Duplicates

In [6]:
df.duplicated().sum()

5268

In [7]:
df = df.drop_duplicates()

### Checking Erroneous Values

In [8]:
df[df['UnitPrice']<0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
299983,A563186,B,Adjust bad debt,1,2021-08-12 14:51:00,-11062.06,NaN,United Kingdom
299984,A563187,B,Adjust bad debt,1,2021-08-12 14:52:00,-11062.06,NaN,United Kingdom

In [9]:
df = df[df['UnitPrice']>=0]

In [10]:
df[df['InvoiceNo'].str.startswith('C')]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
141,C536379,D,Discount,-1,2020-12-01 09:41:00,27.50,14527.0,United Kingdom
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,2020-12-01 09:49:00,4.65,15311.0,United Kingdom
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,2020-12-01 10:24:00,1.65,17548.0,United Kingdom
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,2020-12-01 10:24:00,0.29,17548.0,United Kingdom
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,2020-12-01 10:24:00,0.29,17548.0,United Kingdom
...,...,...,...,...,...,...,...,...
540449,C581490,23144,ZINC T-LIGHT HOLDER STARS SMALL,-11,2021-12-09 09:57:00,0.83,14397.0,United Kingdom
541541,C581499,M,Manual,-1,2021-12-09 10:28:00,224.69,15498.0,United Kingdom
541715,C581568,21258,VICTORIAN SEWING BOX LARGE,-5,2021-12-09 11:57:00,10.95,15311.0,United Kingdom
541716,C581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,2021-12-09 11:58:00,1.25,17315.0,United Kingdom
541717,C581569,20979,36 PENCILS TUBE RED RETROSPOT,-5,2021-12-09 11:58:00,1.25,17315.0,United Kingdom

In [11]:
df[df['Quantity']<0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
141,C536379,D,Discount,-1,2020-12-01 09:41:00,27.50,14527.0,United Kingdom
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,2020-12-01 09:49:00,4.65,15311.0,United Kingdom
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,2020-12-01 10:24:00,1.65,17548.0,United Kingdom
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,2020-12-01 10:24:00,0.29,17548.0,United Kingdom
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,2020-12-01 10:24:00,0.29,17548.0,United Kingdom
...,...,...,...,...,...,...,...,...
540449,C581490,23144,ZINC T-LIGHT HOLDER STARS SMALL,-11,2021-12-09 09:57:00,0.83,14397.0,United Kingdom
541541,C581499,M,Manual,-1,2021-12-09 10:28:00,224.69,15498.0,United Kingdom
541715,C581568,21258,VICTORIAN SEWING BOX LARGE,-5,2021-12-09 11:57:00,10.95,15311.0,United Kingdom
541716,C581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,2021-12-09 11:58:00,1.25,17315.0,United Kingdom
541717,C581569,20979,36 PENCILS TUBE RED RETROSPOT,-5,2021-12-09 11:58:00,1.25,17315.0,United Kingdom

In [12]:
df = df[df['Quantity']>0]

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 526052 entries, 0 to 541908
Data columns (total 8 columns):
InvoiceNo      526052 non-null object
StockCode      526052 non-null object
Description    525460 non-null object
Quantity       526052 non-null int64
InvoiceDate    526052 non-null object
UnitPrice      526052 non-null float64
CustomerID     392732 non-null float64
Country        526052 non-null object
dtypes: float64(2), int64(1), object(5)
memory usage: 36.1+ MB

Inserting Total Amount Columns

In [14]:
df['TotalAmount']=df['Quantity']*df['UnitPrice']

In [15]:
df.sample(3)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalAmount
119980,546639,21675,BUTTERFLIES STICKERS,12,2021-03-15 12:54:00,0.85,13971.0,United Kingdom,10.2
237808,557886,15056N,EDWARDIAN PARASOL NATURAL,2,2021-06-23 13:39:00,5.95,17799.0,United Kingdom,11.9
283233,561702,22698,PINK REGENCY TEACUP AND SAUCER,6,2021-07-29 10:58:00,2.95,15149.0,United Kingdom,17.7

### Converting Invoice Date to datetime

In [16]:
df['InvoiceDate']= pd.to_datetime(df['InvoiceDate'])

In [17]:
df['Hour']  = df['InvoiceDate'].dt.hour
df['Month'] = df['InvoiceDate'].dt.month

In [18]:
df.sample(5)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalAmount,Hour,Month
106622,545337,21454,PAINTED PINK RABBIT,4,2021-03-01 17:28:00,0.85,15984.0,United Kingdom,3.40,17,3
175494,551961,22740,POLKADOT PEN,48,2021-05-05 12:39:00,0.85,13883.0,United Kingdom,40.80,12,5
76557,542629,22558,CLOTHES PEGS RETROSPOT PACK 24,48,2021-01-31 09:57:00,1.25,12731.0,France,60.00,9,1
436667,574228,23145,ZINC T-LIGHT HOLDER STAR LARGE,24,2021-11-03 12:18:00,0.95,16678.0,United Kingdom,22.80,12,11
447891,574966,23191,BUNDLE OF 3 RETRO NOTE BOOKS,7,2021-11-08 10:50:00,1.65,14901.0,United Kingdom,11.55,10,11

### Removing Null CustomerIDs

In [19]:
df['CustomerID'].dtype

dtype('float64')

In [20]:
df['CustomerID']=df['CustomerID'].astype(np.float64)

In [21]:
df['CustomerID'].isna().sum()

133320

In [22]:
df[df['CustomerID'].isna()==True]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalAmount,Hour,Month
622,536414,22139,NaN,56,2020-12-01 11:52:00,0.00,NaN,United Kingdom,0.00,11,12
1443,536544,21773,DECORATIVE ROSE BATHROOM BOTTLE,1,2020-12-01 14:32:00,2.51,NaN,United Kingdom,2.51,14,12
1444,536544,21774,DECORATIVE CATS BATHROOM BOTTLE,2,2020-12-01 14:32:00,2.51,NaN,United Kingdom,5.02,14,12
1445,536544,21786,POLKADOT RAIN HAT,4,2020-12-01 14:32:00,0.85,NaN,United Kingdom,3.40,14,12
1446,536544,21787,RAIN PONCHO RETROSPOT,2,2020-12-01 14:32:00,1.66,NaN,United Kingdom,3.32,14,12
...,...,...,...,...,...,...,...,...,...,...,...
541536,581498,85099B,JUMBO BAG RED RETROSPOT,5,2021-12-09 10:26:00,4.13,NaN,United Kingdom,20.65,10,12
541537,581498,85099C,JUMBO BAG BAROQUE BLACK WHITE,4,2021-12-09 10:26:00,4.13,NaN,United Kingdom,16.52,10,12
541538,581498,85150,LADIES & GENTLEMEN METAL SIGN,1,2021-12-09 10:26:00,4.96,NaN,United Kingdom,4.96,10,12
541539,581498,85174,S/4 CACTI CANDLES,1,2021-12-09 10:26:00,10.79,NaN,United Kingdom,10.79,10,12
541540,581498,DOT,DOTCOM POSTAGE,1,2021-12-09 10:26:00,1714.17,NaN,United Kingdom,1714.17,10,12

In [23]:
df = df[df['CustomerID'].isna()==False]

In [24]:
df['CustomerID']=df['CustomerID'].astype('Int64')

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 392732 entries, 0 to 541908
Data columns (total 11 columns):
InvoiceNo      392732 non-null object
StockCode      392732 non-null object
Description    392732 non-null object
Quantity       392732 non-null int64
InvoiceDate    392732 non-null datetime64[ns]
UnitPrice      392732 non-null float64
CustomerID     392732 non-null Int64
Country        392732 non-null object
TotalAmount    392732 non-null float64
Hour           392732 non-null int64
Month          392732 non-null int64
dtypes: Int64(1), datetime64[ns](1), float64(2), int64(3), object(4)
memory usage: 36.3+ MB

### Cleaning the StockCode Column

In [26]:
df[df['StockCode'].str.isnumeric()==False]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalAmount,Hour,Month
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2020-12-01 08:26:00,2.55,17850,United Kingdom,15.30,8,12
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2020-12-01 08:26:00,2.75,17850,United Kingdom,22.00,8,12
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2020-12-01 08:26:00,3.39,17850,United Kingdom,20.34,8,12
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2020-12-01 08:26:00,3.39,17850,United Kingdom,20.34,8,12
45,536370,POST,POSTAGE,3,2020-12-01 08:45:00,18.00,12583,France,54.00,8,12
...,...,...,...,...,...,...,...,...,...,...,...
541778,581578,84997C,CHILDRENS CUTLERY POLKADOT BLUE,8,2021-12-09 12:16:00,4.15,12713,Germany,33.20,12,12
541809,581579,85099C,JUMBO BAG BAROQUE BLACK WHITE,10,2021-12-09 12:19:00,1.79,17581,United Kingdom,17.90,12,12
541838,581580,84993A,75 GREEN PETIT FOUR CASES,2,2021-12-09 12:20:00,0.42,12748,United Kingdom,0.84,12,12
541844,581580,85049A,TRADITIONAL CHRISTMAS RIBBONS,1,2021-12-09 12:20:00,1.25,12748,United Kingdom,1.25,12,12
541853,581580,85049E,SCANDINAVIAN REDS RIBBONS,2,2021-12-09 12:20:00,1.25,12748,United Kingdom,2.50,12,12

### Removing Post Values

In [27]:
df[df['StockCode']=='POST']

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalAmount,Hour,Month
45,536370,POST,POSTAGE,3,2020-12-01 08:45:00,18.0,12583,France,54.0,8,12
386,536403,POST,POSTAGE,1,2020-12-01 11:27:00,15.0,12791,Netherlands,15.0,11,12
1123,536527,POST,POSTAGE,1,2020-12-01 13:04:00,18.0,12662,Germany,18.0,13,12
5073,536840,POST,POSTAGE,1,2020-12-02 18:27:00,18.0,12738,Germany,18.0,18,12
5258,536852,POST,POSTAGE,1,2020-12-03 09:51:00,18.0,12686,France,18.0,9,12
...,...,...,...,...,...,...,...,...,...,...,...
541198,581493,POST,POSTAGE,1,2021-12-09 10:10:00,15.0,12423,Belgium,15.0,10,12
541216,581494,POST,POSTAGE,2,2021-12-09 10:13:00,18.0,12518,Germany,36.0,10,12
541730,581570,POST,POSTAGE,1,2021-12-09 11:59:00,18.0,12662,Germany,18.0,11,12
541767,581574,POST,POSTAGE,2,2021-12-09 12:09:00,18.0,12526,Germany,36.0,12,12
541768,581578,POST,POSTAGE,3,2021-12-09 12:16:00,18.0,12713,Germany,54.0,12,12

### Cleaning StockCode Values that end with any alphabets

In [28]:
df = df[df['StockCode']!='POST']

In [29]:
df = df[df['StockCode']!='C2']

In [30]:
df = df[df['StockCode']!='M']

In [31]:
df = df[df['StockCode']!='BANK ']

In [32]:
df = df[df['StockCode']!='BANK']

In [33]:
df = df[df['StockCode']!='PADS']

In [34]:
df = df[df['StockCode']!='DOT']

In [35]:
df.sample(5)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalAmount,Hour,Month
509722,579399,23428,IVORY RETRO KITCHEN WALL CLOCK,2,2021-11-29 12:09:00,8.15,13137,United Kingdom,16.30,12,11
165612,550819,22951,60 CAKE CASES DOLLY GIRL DESIGN,1,2021-04-20 17:37:00,0.55,17530,United Kingdom,0.55,17,4
150297,549424,22385,JUMBO BAG SPACEBOY DESIGN,10,2021-04-08 11:50:00,1.95,15367,United Kingdom,19.50,11,4
134108,547825,21989,PACK OF 20 SKULL PAPER NAPKINS,12,2021-03-25 15:01:00,0.85,12778,Netherlands,10.20,15,3
156909,550183,22697,GREEN REGENCY TEACUP AND SAUCER,6,2021-04-14 17:58:00,2.95,14105,United Kingdom,17.70,17,4

Since, all other values other than StockCode are fine, we correct the StockCode values that end with Alphabets

In [36]:
df[df['StockCode'].str.isnumeric()==False]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalAmount,Hour,Month
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2020-12-01 08:26:00,2.55,17850,United Kingdom,15.30,8,12
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2020-12-01 08:26:00,2.75,17850,United Kingdom,22.00,8,12
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2020-12-01 08:26:00,3.39,17850,United Kingdom,20.34,8,12
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2020-12-01 08:26:00,3.39,17850,United Kingdom,20.34,8,12
49,536373,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2020-12-01 09:02:00,2.55,17850,United Kingdom,15.30,9,12
...,...,...,...,...,...,...,...,...,...,...,...
541778,581578,84997C,CHILDRENS CUTLERY POLKADOT BLUE,8,2021-12-09 12:16:00,4.15,12713,Germany,33.20,12,12
541809,581579,85099C,JUMBO BAG BAROQUE BLACK WHITE,10,2021-12-09 12:19:00,1.79,17581,United Kingdom,17.90,12,12
541838,581580,84993A,75 GREEN PETIT FOUR CASES,2,2021-12-09 12:20:00,0.42,12748,United Kingdom,0.84,12,12
541844,581580,85049A,TRADITIONAL CHRISTMAS RIBBONS,1,2021-12-09 12:20:00,1.25,12748,United Kingdom,1.25,12,12
541853,581580,85049E,SCANDINAVIAN REDS RIBBONS,2,2021-12-09 12:20:00,1.25,12748,United Kingdom,2.50,12,12

In [37]:
df['StockCode'] = df['StockCode'].str[:5]

In [38]:
df = df[df['StockCode']!="BANK "]

In [39]:
df['StockCode']=pd.to_numeric(df['StockCode'])

In [40]:
df['InvoiceNo']=pd.to_numeric(df['InvoiceNo'])

#### Now this revised dataset contains non-null Customer IDs, No Duplicates, No Erroneous or Negative Values of StockCode, UnitPride and Quantity. 
#### Now this new Dataset is fit for our analysis.

In [41]:
df.to_csv('ecommerceData-Revised.csv')